@*//BİR LODOS LAZIM ŞİMDİ BANA - BİR KÜREK BİR KAYIK - ZULADA BİR KAÇ ŞİŞE YAKUT - YERGÖK KIRMIZI-*@
@model YUMMY.Net.Models.Message

<form action="/Default/DefaultSendMessage/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text" name="Name" class="form-control" placeholder="Ad Soyad" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" name="Email" placeholder="Email" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" name= "Subject" placeholder="Konu" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" name="MessageContent" rows="6" placeholder="Mesaj" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
        <div class="sent-message">Mesaj Gönderildi.</div>

            <button type="submit">Gönder</button>
        </div>

    </div>
</form>