@model List<YUMMY.Net.Models.SocialMedia>


<div class="col-lg-3 col-md-6">
    <h4>Bizi takip edin</h4>
    <div class="social-links d-flex">
        @foreach (var item in Model)
        {
            <a href="@item.Url" target="_blank"><i class="@item.Icon"></i></a>

        }

    </div>
</div>