@model  List<YUMMY.Net.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Toplam Satılan Ana Yemekler.</div>
            <span class=" card-body display-7"><strong>-@ViewBag.soupCount</strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Detay Gör</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">En Pahalı Ürün</div>
            <span class=" card-body display-7"><strong>@ViewBag.MostExpensive</strong> </span>

            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Ortalama Ürün FiyatlarI </div>
            <span class=" card-body display-7"><strong>@ViewBag.AvgPrice.ToString("00.00") ₺ </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">
             <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">En ucuz Ürün</div>
            <span class=" card-body display-7"><strong>@ViewBag.cheapestPrice </strong> </span>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>

    
            </div>
        </div>
    </div>
</div> 

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
       Ürün Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Fotoğraf</th>
                    <th>İsim</th>
                    <th>Category</th>
                    <th>İçindekiler</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
            @*<tfoot>*@
            @foreach(var yenı in Model)
            {
                <tr>
                    <th>@yenı.ProductId</th>
                    <th>@yenı.CategoryId</th>
                    <td><img src="@yenı.ImageUrl" style="width:50px;height:50px;" /></td>
                    <th>@yenı.ProductName</th>>
                    <th>@yenı.Category.CategoryName</th>
                    <th>@yenı.Ingredients</th>
                    <th>@yenı.Price</th>

                    @*Bu satır Güncellenecek*@

                </tr>


            }


        </table>
    </div>
</div>
